
* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header::before {
    content: "";
    opacity: 0.4;
    z-index: -1;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header > h1 {
    color: #000000;
    position: relative;
    z-index: 1; 
}


nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; /* Garante que ela fique sempre acima de outros elementos */
    background-color: rgba(223, 8, 8, 0.9); 
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav img {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: darkred;
}


.conteudo {
    margin-top: 80px; 
}


.conteudo2{
    background-color: rgb(211, 211, 211);
    margin-top: 5%;
    margin-bottom: 5%;
}

.conteudo2 p{
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.txt-conteudo{
    margin-right: 10%;
}

.txt-container h1{
    color: rgba(211, 5, 5, 0.842);
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;      
    font-size: 4.5em;
}

#paisagem {
    box-shadow: 0 4px 8px 0 rgba(217, 221, 224, 0.705), 0 6px 20px 0 rgba(143, 43, 43, 0.19);
    border-radius: 8px;
    width: 35%;
    height: 35%;
}


#conteudo-home {
    width: 1280px;
    height: 280px;
    margin: auto;
}
.card-titulo {
    border: 2px solid #CCC;
    border-radius: 15px;
    margin: 7px;
    float: left;
}
#conteudo-home img {
    border-radius: 15px 15px 0 0;
    margin-top: -2px;
    margin-left: -2px;
}
#conteudo-home a {
    display: block;
    width: 235px;
    height: 160px;
}
#conteudo-home p {
    text-align: center;
    margin: 15px 0 20px;
    font-weight: bold;
    color: #222522;
}
.card{
    margin-top: 5%;
    margin-bottom: 8%;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}




.rodape {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}
